<div id="navigation">
	<a class='navlinks' href='index.html'>Home</a>
	<a class='navlinks' href='projects.html'>Projects</a>
	<a class='navlinks' href='resume.html'>Résumé</a>
	<a class='navlinks' href='http://kioh.mastakey.net/cgi-bin/perl-web-kb/web/view/index.pl'>Knowledge Base</a>
	<!--<a class='navlinks' href='techosophy.html'>Techosophy</a>-->
</div>