<div id="header">
	<h1 class='alignleft'>
		Kioh Han
	</h1>
	<form class='alignright' action='search.pl' method='get'>
		<table>
			<tr><td><input name='search_str' id='search_str' type='text' /><input type='submit' value='Search' /></td></tr>
			<tr><td>
				<a href='mailto:kioh.han@gmail.com'><img class='imglink' src='img/mail.png' /></a>
				<a href='http://www.facebook.com/kiohhan'><img class='imglink' src='http://static.viewbook.com/images/social_icons/facebook_16.png' /></a>
				<a href='http://www.linkedin.com/pub/kioh-han/2a/522/269'><img class='imglink' src='http://press.linkedin.com/sites/all/themes/presslinkedin/images/follow_linkedin.gif'/ ></a>
			</td></tr>
		</table>
	</form>
	<div style="clear: both;"></div>
	<p class='subleft'>B.Eng. Software Engineer</p>
	<div style="clear: both;"></div>
</div>