[% INCLUDE header.tmpl
	title = 'Kioh\'s Knowledge Base'
%]
[% INCLUDE top_section.tmpl %]
[% INCLUDE navigation.tmpl %]
<div id="content">
	<h2>Knowledge Base</h2>
		<p>	
		</p>
</div>
[% INCLUDE footer.tmpl %]