[% INCLUDE header.tmpl
	title = 'Kioh\'s Projects'
%]
[% INCLUDE top_section.tmpl %]
[% INCLUDE navigation.tmpl %]
<div id="content">
	<h2>Current Projects</h2>
	<h3>Statisfy</h3>
	<p>
		<table border=0>
			<tr>
				<th>Features:</th><td>Features here</td>
			</tr>
			<tr>
				<th>Technology:</th><td>Apache, Perl, SQLite</td>
			</tr>
		</table>		
	</p>
	<h3>Knowledge Base</h3>
		<p>
			<table border=0>
				<tr>
					<th>Features:</th><td>Features here</td>
				</tr>
				<tr>
					<th>Technology:</th><td>Apache, Perl, SQLite</td>
				</tr>
			</table>		
		</p>
	<h2>Past Projects</h2>
	<h3><a href='http://kioh.mastakey.net/finance/html/index.html'>Finance Tracker</a></h3>
		<p>	
			<table border=0>
				<tr>
					<th>Features:</th><td>Features here</td>
				</tr>
				<tr>
					<th>Technology:</th><td>Apache, Perl, SQLite</td>
				</tr>
			</table>
		</p>
	<h3>Yahoo Hockey Stats Scraper</h3>
		<p>
			<table border=0>
				<tr>
					<th>Features:</th><td>Features here</td>
				</tr>
				<tr>
					<th>Technology:</th><td>Apache, Perl, SQLite</td>
				</tr>
			</table>		
		</p>
</div>
[% INCLUDE footer.tmpl %]