[% INCLUDE header.tmpl
	title = 'Kioh\'s Résumé'
%]
[% INCLUDE top_section.tmpl %]
[% INCLUDE navigation.tmpl %]
<div id="content">
	<h2>Résumé</h2>
		<h4>Professional Experience</h4>
		<p>
		I am a Professional Services Consultant specializing in process and workflow software. <br />
		I deal primarily with Serena Businss Manager [SBM] formally known as TeamTrack. <br />
		I have worked with and consulted for the following companies:
		<ul>
			<li>Nokia</li>
			<li>McAfee</li>
			<li>BC Pensions</li>
			<li>ADP</li>
			<li>Cisco</li>
			<li>Janus</li>
			<li>Experian</li>
		</ul>
		</p>
</div>
[% INCLUDE footer.tmpl %]