[% INCLUDE header.tmpl
	title = 'Kioh\'s Techosophy'
%]
[% INCLUDE top_section.tmpl %]
[% INCLUDE navigation.tmpl %]
<div id="content">
	<h2>Techosophy</h2>
		<p>
		Techosophy is 
		</p>
	<h3>Agile Method</h3>
	<h3></h3>
</div>
[% INCLUDE footer.tmpl %]